@import './utils/colors.css';

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

#main-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.sidebar {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 20;
}

.map-container {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  transition: all 0.3s ease;
}

.sidebar:not(.collapsed) ~ .map-container {
  left: 30%;
}

.toggle-button-container {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 32px;
  height: 60px;
  transform: translateY(-50%);
  transition: left 0.3s ease;
}

.sidebar.collapsed ~ .toggle-button-container {
  left: 0px;
}

@media (max-width: 1024px) {
  .sidebar:not(.collapsed) ~ .map-container {
    left: 40%;
  }
  
  .toggle-button-container {
    left: 40%;
  }
}

@media (max-width: 768px) {
  .sidebar:not(.collapsed) ~ .map-container {
    left: 50%;
  }
  
  .toggle-button-container {
    left: 50%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 480px) {
  .sidebar {
    transform: translateX(-100%);
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .sidebar:not(.collapsed) ~ .map-container {
    left: 0;
  }
  
  .sidebar.open ~ .map-container {
    left: 80%;
  }
  
  .toggle-button-container {
  }
}
