@import './utils/colors.css';

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

#main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

/* Assure que les composants enfants s'empilent correctement */
#main-content > * {
  position: relative;
}

.map-container {
  flex: 1;
  height: 100%;
  position: relative;
  min-width: 0; /* Pour éviter que la carte ne déborde */
}

/* Mode clair */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Responsive layout pour les mobiles */
@media (max-width: 768px) {
  .map-container {
    width: 100%;
  }

  #main-content {
    flex-direction: column;
  }
  
  .sidebar {
    width: 100% !important; /* Force la largeur en mode mobile */
    height: auto !important;
    min-height: 30vh;
  }
}
